{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/expenses.css') }}?v={{ random(999999) }}">
    <style>
        .hidden {
            display: none;
        }
    </style>
    {{ parent() }}


{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 centerBox">
                <br>
                {% if app.user %}
                    <h1>{{ welcomeMessage }}, {{ app.user.firstName }}</h1>
                    <br>
                    <p>Welkom op de onkostentool. Hier kan je:</p>
                 <a href="{{ path('expenses_add') }}" class="btn btn-outline-primary">reisonkosten indienen</a>
                    <br>


                {#<span class="alert alert-info">#}
                    {#<h4>De onkostentool staat nog maar in zijn kinderschoentjes en dus kan ik jouw hulp zeker goed gebruiken!</h4>#}
                    {#<p>Heb je ergens een fout gevonden, is er iets niet duidelijk, staan er nog ergens schrijffouten, heb je nog een zot idee voor een uitbreiding of is er volgens jou nog een 'feature' die ontbreekt? Meld het dan hieronder zodat ik er verder mee aan de slag kan gaan :D</p>#}
                    {#<a class="btn btn-yellow" target="_blank" href="https://goo.gl/forms/NkVAowEoqFXlvcaK2">Vul het feedback formulier in!</a>#}
                {#</span>#}

                {#<p class="center">Hier kan je al je transport onkosten indienen. Je vindt verder ook een overzicht van je#}
                    {#eerder ingediende onkosten.#}
                    {#Voor meer info over waar je een killometervergoeding voor kan indienen, kan je de <a href="">onkostennota</a> raadplegen.#}
                {#</p>#}
                {% else %}
                    <div class="alert alert-info width100">
                        <span>Om onkosten in te dienen moet je ingelogd zijn.</span>
                        <div class="facebook-login-alert-wrapper">
                            <div class="register-facebook">
                                <a href="{{ fbLoginUrl }}" target="_top" class="fb-login-btn"><span class="fa fa-facebook"></span>Login
                                    met Facebook</a>
                            </div>
                        </div>
                        <span>of met je
                                <a href="{{ path('security_login') }}">email</a>.
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if app.user %}
            <div class="row">
                <div class="col-md-12 centerBox">
                    <h2 id="myExpensesTitle" >Jouw ingediende onkosten</h2>
                </div>
            </div>

            <div class="row scrollH">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Activiteit</th>
                        <th scope="col">Van</th>
                        <th scope="col">Naar</th>
                        <th scope="col">Status</th>
                        <th scope="col">Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set tripCount = 0 %}
                    {% for trip in trips %}
                        {% set tripCount = tripCount + 1 %}
                        <tr>
                            <td>{{ tripCount }}</td>
                            <td class="nowrap">{{ trip.date|date('j-n-Y') }}</td>
                            {#<td>{{ trip.group.name }} - {{ trip.activity.name }}</td>#}
                            <td title="{{ trip.groupStack|join(' - ') }}">{{ trip.groupStack|last }} - {{ trip.activityName }}</td>
                            <td>{{ trip.from }}</td>
                            <td>{{ trip.to }}</td>
                            {#{% if trip.distance %}#}
                            {#<td>{{ trip.distance }} KM</td>#}
                            {#{% else %}#}
                            {#todo: loop over tickets#}
                            {#<td><a href="{{ trip.tickets }}">ticketje</a></td>#}
                            {#{% endif %}#}
                            {#<td>{{ trip.price }} &euro;</td>#}
                            <td class="simpleFlex">
                                <span class="expense-status nowrap {{ trip.status }}">{{ ('trip.status.'~trip.status)|trans }}</span>
                                {% if trip.commentAdmin %}
                                    <span title="{{ trip.commentAdmin }}" class="fa fa-exclamation"></span>
                                {% endif %}
                            </td>
                            {#<td>{{ trip.status }}</td>#}
                            <td>
                                <a href="#" data-toggle="modal" data-target="#tripDetailModal{{ trip.id }}">details</a>
                            </td>
                        </tr>

                        {% if tripCount == 5 or tripCount == 25 %}
                            <tr>
                                <td colspan="7">
                                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <ins class="adsbygoogle"
                                         style="display:block"
                                         data-ad-format="fluid"
                                         data-ad-layout-key="-hs-7+2w-11-86"
                                         data-ad-client="ca-pub-8405807820052594"
                                         data-ad-slot="3120572575"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="expenseStatusExplenation">
                    <span class="expense-status awaiting">in afwachting</span>
                    <span> Je onkosten zijn nog niet bekeken door een educatief medewerker.</span>
                </div>
                <div class="expenseStatusExplenation">
                    <span class="expense-status approved">goedgekeurd</span>
                    <span> Een educatief medewerker heeft je onkost goedgekeurd.</span>
                </div>
                <div class="expenseStatusExplenation">
                    <span class="expense-status processed">behandeld</span>
                    <span> Je onkosten zijn op weg naar de boekhouding. Je zult ze spoedig op je rekening zien verschijnen.</span>
                </div>
                <div class="expenseStatusExplenation">
                    <span class="expense-status denied">afgekeurd</span>
                    <span> Kazou heeft besloten je deze onkost niet te vergoeden.</span>
                </div>
                <div class="expenseStatusExplenation">
                    <span class="fa fa-exclamation"></span>
                    <span>Een educatief medewerker heeft een opmerking toegevoegd aan je onkost en deze mogelijks aangepast.</span>
                </div>
            </div>

        {% endif %}
    </div>

    {# moddals #}
    <div>
        {% for trip in trips %}
            <div class="modal fade" id="tripDetailModal{{ trip.id }}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Mijn rit van {{ trip.date|date('j-n-Y') }}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Groep: </strong><td>{{ trip.groupStack|join(' - ') }}</td></p>
                            <p><strong>Activiteit: </strong>{{ trip.activityName }}</p>
                            <p><strong>Status: </strong><span
                                        class="expense-status nowrap {{ trip.status }}">{{ ('trip.status.'~trip.status)|trans }}</span>
                            </p>
                            <p><strong>Van: </strong>{{ trip.from }}</p>
                            <p><strong>Naar: </strong>{{ trip.to }}</p>
                            <p><strong>Voertuig: </strong>
                                {% if trip.transportType == 'car' %}
                                    auto
                                {% elseif trip.transportType == 'OV' %}
                                    openbaar vervoer
                                {% elseif trip.transportType == 'bike' %}
                                    fiets
                                {% endif %}
                            </p>
                            <p><strong>Datum activiteit: </strong>{{ trip.date|date('j-n-Y') }}</p>
                            {% if trip.distance %}
                                <p><strong>Afstand: </strong>{{ trip.distance }}</p>
                            {% endif %}
                            <p><strong>Bedrag: </strong>{{ trip.price }}</p>
                            <p><strong>Opmerking: </strong>{{ trip.comment }}</p>
                            <p><strong>Aangemaakt op: </strong>{{ trip.createdAt|date('j-n-Y H:i:s') }}</p>
                            <p><strong>Laatste status wijziging door: </strong>{{ trip.handledBy }}</p>
                            <p><strong>Laatste status wijziging op: </strong>{{ trip.handledAt|date('j-n-Y H:i:s') }}</p>
                            {% if trip.commentAdmin %}
                                <p><strong>Opmerking van educatief medewerker: </strong>{{ trip.commentAdmin }}</p>
                            {% endif %}
                            {#{% if trip.tickets %}#}
                                {#<p><strong>Ticketjes: </strong></p>#}
                                {#<p class="modalTicketContainer">#}
                                    {#{% for ticket in trip.tickets %}#}
                                        {#<img class="modalTicketImage" src="{{ asset(ticket) }}" alt="">#}
                                    {#{% endfor %}#}
                                {#</p>#}
                            {#{% endif %}#}
                            <span class="btn btn-danger js-remove-intro">Onkost verwijderen</span>
                            <div class="js-remove-confirm-box hidden">
                                <p>Ben je zeker dat je deze onkost definitief wilt verwijderen?</p>
                                <span class="js-remove-cancel btn btn-success">Nee</span>
                                <a href="{{ path('expenses_delete', {'tripId': trip.id}) }}"><span class="btn btn-danger">Ja</span></a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var $removeConfirmBox = document.querySelectorAll('.js-remove-confirm-box');


        $removeIntros = document.querySelectorAll('.js-remove-intro');
        for (var i = 0; i < $removeIntros.length; i++) {
            $removeIntros[i].addEventListener('click', function(evt) {
                evt.currentTarget.parentElement.querySelector('.js-remove-confirm-box').classList.remove('hidden');
            });
        }

        $removeCancel = document.querySelectorAll('.js-remove-cancel');
        for (var i = 0; i < $removeCancel.length; i++) {
            $removeCancel[i].addEventListener('click', function(evt) {
                evt.currentTarget.parentElement.parentElement.querySelector('.js-remove-confirm-box').classList.add('hidden');
            });
        }
    </script>
{% endblock %}
