<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Onkostentool Kazou{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}?v={{ random(999999) }}">
        <link rel="stylesheet" href="{{ asset('css/header.css') }}?v={{ random(999999) }}">
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}?v={{ random(999999) }}">
        <link rel="stylesheet" href="{{ asset('css/objects.css') }}?v={{ random(999999) }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=1"/>
</head>
<body>

{% block header %}
    <header class="main-header">
        <div class="container">
            <div class="row header-content">

                <div class="flex1"></div>

                <div class="actions">
                    {% if is_granted('ROLE_USER') %}
                        <a href="">
                            <a href="{{ path('user_profile') }}">
                                <img src="{{ app.user.picture|default(asset('img/profile_placeholder.png')) }}"
                                     class="profilePicture"
                                     alt="profile picture" width="42" height="42">
                            </a>
                        </a>
                        <a href="{{ path('security_logout') }}" class="btn btn-yellow">Logout</a>
                    {% else %}
                        <a href="{{ path('security_login') }}" class="btn btn-yellow">Login</a>
                        <a href="{{ path('user_register') }}" class="btn btn-yellow">Registreer</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('easyadmin') }}" class="btn btn-yellow">Admin</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
{% endblock %}


<div class="main-content">
    <div class="header-coverup"></div>
    <div class="container">
        {% for msg in app.session.flashBag.get('success') %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for msg in app.session.flashBag.get('error') %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        {{ msg }}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </div>
</div>

{% block footer %}
    {#<footer class="footer">#}

    {#</footer>#}
{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}?v={{ random(999999) }}"></script>
{% endblock %}
</body>
</html>
