{% extends "base.html.twig" %}

{% block title %}VV-GPS{% endblock %}

{% block header %}
    {% include 'VvGps/header.html.twig' with {'title' : 'VV GPS'  } %}
{% endblock %}

{% block body %}
    <div class="container vvgps_main_menu">
        <div class="row menuContainer">
            <a class="col-lg-4" href="{{ path('vvgps_beforeDeparture') }}">
                <div class="inner">
                    <h2>{{ 'vvgps.menu.beforeDeparture'|trans }}</h2>
                </div>
            </a>
            <a class="col-lg-4" href="{{ path('vvgps_duringVacation') }}">
                <div class="inner">
                    <h2>{{ 'vvgps.menu.duringVacation'|trans }}</h2>
                </div>
            </a>
            <a class="col-lg-4" href="{{ path('vvgps_extra') }}">
                <div class="inner">
                    <h2>{{ 'vvgps.menu.extra'|trans }}</h2>
                </div>
            </a>
        </div>
    </div>

    <div class="vvgps_intro_popup">

    </div>
{% endblock %}

{% block footer %}{% endblock %}
