<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Moni's Kazou RMT{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/amoniac.css') }}?v={{ random(999999) }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=1"/>
</head>
<body>
    <header class="header vvgps">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Team Amoniac</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container">

        {% if showFull %}
            <div class="row quick-actions">
                <div class="inner col-md-4">
                    <a href="https://drive.google.com/drive/folders/0B-GZrOzGnLQdfm9aNVltY082ZERpS1FzYklhQ0xNQ3VHWGZpRXZZdGJ2NVdWTXNWUEFWSlU?usp=sharing" target="_blank">
                        <img src="{{ asset('img/icons/drive.png') }}" alt="" width="50" height="50">
                        <span>Google drive</span>
                    </a>
                </div>
                <div class="inner col-md-4">
                    <a href="https://photos.app.goo.gl/YDqYiJ1PUXk7zo6E6" target="_blank">
                        <img src="{{ asset('img/icons/photos.png') }}" alt="" width="50" height="50">
                        <span>Google photo's</span>
                    </a>
                </div>
                <div class="inner col-md-4">
                    <a href="https://www.facebook.com/groups/1470566779871127/" target="_blank">
                        <img src="{{ asset('img/icons/facebook.png') }}" alt="" width="50" height="50">
                        <span>Facebook groep</span>
                    </a>
                </div>
            </div>
        {% endif %}

        <div class="activity-container">
            {% for activity in activityData %}
                {% if activity.date or showFull %}
                    <div class="row">
                        <div class="topContainer">
                            <div class="leftBlock">
                                <h2>{{ activity.name }}</h2>
                                <span class="line">
                                    <span class="fa fa-clock-o"></span>
                                    <h3>{{ activity.date }}</h3>
                                </span>
                                <span class="line">
                                    <span class="fa fa-location-arrow"></span>
                                    <h3>{{ activity.location }}</h3>
                                </span>
                            </div>
                            <div class="rightBlock">
                                <img src="{{ activity.poster }}" alt="">
                            </div>
                        </div>

                        <div class="line actions">
                            {% if activity.subscribeLink %} <a class="action" href="{{ activity.subscribeLink }}" target="_blank"><span class="fa fa-pencil"></span>Inschrijven</a> {% endif %}
                            {% if activity.carpoolLink %} <a class="action" href="{{ activity.carpoolLink }}" target="_blank"><span class="fa fa-car"></span>Carpool</a> {% endif %}
                            {% if showFull %}
                                {% if activity.report %} <a class="action" href="{{ activity.report }}" target="_blank"><span class="fa fa-file"></span>Verslag</a> {% endif %}
                                {% if activity.teamSchedule %} <a class="action" href="{{ activity.teamSchedule }}" target="_blank"><span class="fa fa-list"></span>Shiftenlijst</a> {% endif %}
                                {#{% if activity.report %} <a class="action" href="#todo"><span class="fa fa-car"></span>Onkosten indienen</a> {% endif %}#}
                            {% endif %}
                        </div>


                        {% if showFull %}
                            <div class="members">
                                {% if activity.groupLeader != '' %}
                                    <span><span class="fa fa-star"></span>{{ activity.groupLeader }}</span>
                                {% else %}
                                    <span class="red"><span class="fa fa-star"></span></span>
                                {% endif %}

                                {% for member in activity.groupMembers %}
                                    <span>{{ member }}</span>
                                {% endfor %}
                            </div>

                            {% if activity.followUp %}
                                <div class="followup">
                                    Opvolging door <strong>{{ activity.followUp }}</strong>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}

        </div>
    </div>
    <a href="/amoniac?show=all" class="amoniacInfo">Info voor Amoniac leden</a>
</body>
<script>

    if(getParameterByName('show') === 'all') {
        setCookie('show', 'all', 365);
    }

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
</script>
