{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row register-selector">
            <div class="register-facebook">
                <a href="{{ fbLoginUrl }}" target="_top" class="fb-login-btn"><span class="fa fa-facebook"></span>Login met Facebook</a>
            </div>
            <span class="split">OF</span>
            <div>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {{ form_start(form) }}
                    {{ form_row(form._username) }}
                    {{ form_row(form._password) }}
                    <label for="login_form__remember_me">
                        <input type="checkbox" id="_remember_me" name="_remember_me" value="1"> Ingelogd blijven
                    </label>
                    <div>
                        <button type="submit" class="btn btn-yellow">Aanmelden</button>
                        <span>Nog geen account? <a href="{{ path('user_register') }}">Registreren je hier</a></span>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
